<!-- Tratar de que quede el producto de un lado y el formulario de edicion del otro-->
<!--Crear un Servicio para que entre en la ruta router.put('/modify/:id',validateModify, modify);-->
<div class="bg-dark">
  <div class="container">
      <div class="row align-items-center" style="height: 100vh;">
          <div class="row cards" style="width: auto; margin: auto auto;">
              <div class="card mt-4" style="width: 18rem;">
                <img src="http://localhost:3000/images/{{product.imagen}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.nombre}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Precio : {{product.precio}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Stock : {{product.stock}}</h6>
                  </div>
                </div>
          </div>
      </div>
  </div>
  </div>
