
<h1 class="text-center mt-3 text-decoration-underline">Proyecto Final Node-Angular</h1>


<div class="clearfix mt-5">
  <img src="http://localhost:3000/images/foto cara.jpg" class="col-lg-6 col-md-3 float-md-end mb-3 ms-md-2 img-fluid" alt="...">

  <p>
    Mi nombre es Martin Leonardo Ruiz tengo 34 años y soy de Marcos Paz Pcia. de Buenos Aires.
    Este es mi proyecto final del curso, en él vamos a consumir la Api de JsonPlaceHolder,
    un CRUD con una base de datos SQL y un registro y loguin con JWT.
    El proyecto esta hecho el BACKEND con Node-Express y el FRONTEND con Angular-Lazy.
  </p>
</div>
